
.idea/vcs.xml
.idea/encodings.xml
.idea/description.html
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/runConfigurations.xml
.idea/uiDesigner.xml
.out
out/production/Bank/com/company/Main.class
out/production/Bank/com/company/Persons/Person.class
out/production/Bank/com/company/Persons/Visitors/Client.class
.idea/.name
*.xml
